.friendsMenu {
    max-width: 262px;
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    padding: 0 20px;

    background: #25272ac5;
    mix-blend-mode: normal;
}
