.appWrapper{
    display: flex;
    max-width: 100%;
    width: 100%;
    max-height: 100vh;
}
.row {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #919191;
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
}