.nomadList {
}
.switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    
}
.leftSide {
    margin: 30px 0;

    display: flex;
    align-items: center;

    cursor: pointer;
}
.settings{
    cursor: pointer;
}
.title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;

    margin: 5px;
}
.switched {
    transform: rotate(-90deg);
    transition-duration: 0.2s;
}
.unswitched {
    transition-duration: 0.2s;
}



::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #919191;
}
::-webkit-scrollbar-thumb {
    background-color: #919191;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #919191;
    border-radius: 7px;
    border: 2px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8a7a7;
}
